/* .menu-card {
    display: grid;
    grid-template-columns: repeat(3fr, 1);
    grid-gap: 10px;
}

.menu-card-1 {
    display: grid;
    grid-template-columns: repeat(3fr, 1);
    grid-gap: 10px;
} */